:root{
    --blue: blue;
    --yellow: yellow;
    --white: white;
    --black: black;
}
body {
    color:var(--yellow);
    background-color: var(--blue);
}

.navbar ul{
    display: none;
    flex-direction: column;
    background-color: var(--black);
    padding: 1em;
    border: 1px solid #ccc;
    display: none;

}
a{
    color:var(--black)
}
a:hover{
    color: var(--black);
}
#titulo
{
    font-size:60px;
    text-align: center;
}
* {
    border-image-width: auto;
    color: var(--white);
    font-size: 0.75cm;

}
.hamburger
{
    display: none;
    font-size: 2rem;
    background: none;
    border:none;
    cursor: pointer;
    color:inherit;
    margin:0.5rem;
}

@media (max-width:768px)
{
    .hamburger{
        display: block;
    }
}
.navbar ul {
    display: none;
    flex-direction: column;
    background-color: var(--background-color, white);
    padding: 1em;
    border: 1px solid #ccc;
  }
.navbar.active ul {
    display: flex;
  }

.toggle-theme{
    position: absolute;
    top:1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    cursor:pointer;
}
.darkmode{
    background-color: var(--black);
    color:var(--white);
}
.darkmode-a{
    color: var(--blue);
}
.darkmode nav,
.darkmode header{
    background-color: var(--black);
    color:var(--white)
}
